# Sample config file for toolkit upload
# toolkit-upload-config.yaml
general:
  retries: 3
  timeout: 30
  verbose: true
  insecure: true
app:
  base_url: "${CONCERT_URL}"
  instance_id: "${INSTANCE_ID}"
  auth:
    user:
      username: "${USER_NAME}"
      password: "${PASSWORD}"
  # TODO: certs
input-data:
  deploy:
    files:
    - "/toolkit-data/${COMPONENT_NAME}-deploy-inventory-${BUILD_NUMBER}.json"
